.someWeather-doc {
    display: absolute;
}

.hero-section {
    /* background-color: #4CDCB1; */
    height: 100%;
    border-radius: 0 0 32px 32px;
    overflow: hidden;
}

.hero-project-category {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    font-size: 20px;
}

.hero-project-title {
    font-size: 120px;
    font-weight: 500;
}

.hero-project-desc {
    font-size: 20px;
    font-weight: 300;
}

.hero-project-info {
    /* border-top: 2px solid #000;
    border-bottom: 2px solid #000; */
}

.project-section {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
}

.project-info {
    font-weight: 300;
    /* font-size: 16px; */
}

.hero-project-img {
    height: 100%;
}

.hero-img {
    width: 100%;
    height: 100%;
    /* min-height: 500px; */
}

@media screen and (max-width: 768px) {
    .hero-project-title  {
        font-size: 80px;
        line-height: 120%;
    }
}

@media screen and (max-width: 576px) {
    .hero-project-title  {
        font-size: 80px;
        line-height: 120%;
    }

    .hero-project-desc, .project-info, .hero-project-category {
        font-size: 16px;
    }
}