.feature-card-container {
    min-height: 470px;
}

.link-container {
    text-decoration: none!important;
}

.card-div {
    /* background-color: #c4c4c4; */
    border-radius: 4px;
    min-height: 470px;
}

.category-text {
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
}

.card-text-content {
    padding: 42px 0px 42px 54px;
}

.project-img {
    height: 100%;
    min-height: 470px;
    /* width: 120%; */
}

.project-img-container {
    overflow: hidden;
    border-radius: 0px 4px 4px 0px;
    padding-left: 1rem;
}

@media screen and (max-width: 768px) {
    .card-div {
        height: 100%;
    }

    .project-img {
        width: 100%;
        height: auto;
    }
    .desc-text {
        width: 75%;
    }
    .card-text-content {
        padding-bottom: 8px;
    }
    .project-featured-title {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .project-img-container {
        width: 120%;
    }
    .desc-text {
        width: 75%;
    }
    .card-div {
        height: 100%;
    }
    
    .project-img {
        height: 100%;
    }

    .project-featured-title {
        margin-top: 1rem;
    }
}

.Tilt {
    height: 100%;
}

.underline-category {
    border: 0.5px solid;
}