.footer-div {
    background-color: #171717;
    min-height: 300px;
    border-radius: 12px;
    width: 100%;
}

.main-contact {
    font-size: 54px;
}

.copyright-text {
    font-size: 12px;
}

.social-icon {
    height: 42px;
    width: 42px;
}

@media screen and (max-width: 768px) {
    /* .footer-large {
        display: none;
    }
    .footer-responsive {
        display: inline;
        margin: 0;
    } */
}

@media screen and (max-width: 576px) {
    .project-img-container {
        width: 120%;
    }
    .desc-text {
        width: 75%;
    }
    .card-div {
        height: 100%;
    }
    
    .project-img {
        height: 100%;
    }
}